@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Inter;
}

/* .slick-prev {
  left: 3% !important;
  z-index: 1;
  background-color: black !important;
}

.slick-next {
  right: 3% !important;
  z-index: 1;
  background-color: black !important;
} */

@layer utilities {
  /* Sidebar section */
  .sidebar-list {
    @apply flex cursor-pointer flex-row items-center gap-2 rounded-md font-semibold text-white hover:bg-color-dark-blue;
  }

  .sidebar-icon {
    @apply rounded-md bg-color-dark-gray p-1 text-4xl md:text-3xl lg:text-4xl;
  }

  .sidebar-text {
    @apply text-lg md:text-base xl:text-lg;
  }

  .utilities-list {
    @apply flex justify-center font-semibold text-white;
  }

  .utilities-icon {
    @apply float-left p-1 text-4xl md:text-3xl lg:text-4xl;
  }

  .utilities-button {
    @apply flex items-center gap-1 rounded-lg  bg-color-dark-blue py-1 duration-100 hover:scale-110;
  }

  /* Others Section */
  .flex-between {
    @apply flex items-center justify-between;
  }
}
